#1. What is data stucture and why are they important?
'''
ans- Structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.
They are important because-
i.Choosing the right data structure significantly impacts the efficiency and performance of your program.
ii.Well-chosen data structures can.
iii.Simplify data manipulation (adding, removing, modifying elements).
iv.Optimize searching and sorting operations.
v.Conserve memory usage.
'''

#2. Explain the differnce between mutable and immutable data types using example.
'''
ans- Data types which can be changed after their creation is called mutable data type.example-

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(5)
print(my_list)

[1, 2, 3, 4, 5]

whereas immutable data types cannot be changed after they are created. example-

In [ ]:
my_tuple = (1, 2, 3, 4)
my_tuple(2) = 5

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (<ipython-input-8-85078640837f>, line 2)

#3. What are main differnce between list and tuples in python?
'''
ans- The main differnce between lists and tuples are-
i.Lists can be modified but tuples cannot be modified.
ii.Defined with square brackets.[ ] but tuples are defined with parenthesis( ).
iii.List are slower due to mutability but tuples are faster due to immutablity.
'''

#4. Describe how dictionary store data.
'''
ans- A dictionary stores data in key-value pairs using a hash table. It provides fast access and is widely used when data needs to be associated or mapped uniquely, such as in configurations, data lookups, or caches.
'''

#5. Why might you use a set instead of a list in python?
'''
ans- We might use a set instead of a list in Python when you need to store a collection of unique elements and perform operations like membership tests or set operations efficiently.
'''

#6. What is a string in python, and how is it differnce from list?
'''
ans- A string in Python is a sequence of characters enclosed in single ('), double ("), or triple (""") quotes. whereas Strings are immutable, meaning their contents cannot be changed after creation.
'''

#7. How do tuples ensure data integrity in python?
'''
ans- Tuples ensure data integrity in Python by being immutable, meaning their contents cannot be changed after creation.
'''

#8. What is a hash table, and how does it relate to dictionary in python?
'''
ans- A hash table is a foundational data structure that enables fast key-value pair storage and retrieval.
Python dictionaries are implemented using hash tables.
Keys in dictionaries are hashed to compute their storage location, making operations like lookup, insertion, and deletion efficient.
'''

#9. Can lists contain different data types in python?
'''
ans- Yes, lists contain different data types in python.
'''

#10. Explain why string is immutable in python?
'''
ans- Strings in Python are immutable to ensure reliability, performance optimization, thread safety, and simplicity in programming. It provides several advantages that make Python strings efficient to use.
'''

#11. What advantages do dictionary offer over lists for certain tasks?
'''
ans- Dictionaries are best for fast lookups, key-value mapping, and managing complex relationships.
Lists are suitable for ordered collections and simpler tasks but are less efficient for large datasets requiring key-based access.
'''

#12. Describe a scenario where using a tuple would be preferable over a list.
'''
ans- A tuple would be preferable over a list when the data is immutable and should not change.
'''

#13. How do sets handle duplicate values in Python?
'''
ans- Sets automatically remove duplicates. When you add an item to a set, it checks whether that item already exists. If it does, the item is not added again, ensuring all elements in a set are unique.
'''

#14. How does the "in" keyword work differently for lists and dictionaries?
'''
ans-Lists: The "in" keyword checks if an element exists in the list.whereas
Dictionaries: The "in" keyword checks if a key exists in the dictionary.
'''

#15. Can you modify the elements of a tuple? Explain why or why not.
'''
ans- No, you cannot modify the elements of a tuple after it is created. Tuples are immutable, meaning their content cannot be changed.
'''


#16. What is a nested dictionary, and give an example of its use case?
'''
ans- A nested dictionary is a dictionary where the values themselves are dictionaries. This allows for representing hierarchical or complex data structures.
'''

#17. Describe the time complexity of accessing elements in a dictionary.
'''
ans- The average time complexity for accessing elements in a dictionary by key is O(1), meaning it takes constant time to retrieve a value if the key is known. This is because dictionaries are implemented using hash tables.
'''

#18. In what situations are lists preferred over dictionaries?
'''
ans- Lists are preferred when:
The order of elements matters (e.g., representing a sequence).
You need to store a collection of duplicate items.
You need to iterate over the elements in a specific order.
'''

#19. Why are dictionaries considered unordered, and how does that affect data retrieval?
'''
ans- Dictionaries are considered unordered because the elements (key-value pairs) do not have a defined order.
'''

#20. Explain the difference between a list and a dictionary in terms of data retrieval.
'''
ans- Lists are preferred when:
The order of elements matters (e.g., representing a sequence).
You need to store a collection of duplicate items.
You need to iterate over the elements in a specific order.
'''

#PRACTICAL QUESTION

#1. Write a code to create a string with your name and print it.

In [1]:
my_name = "Ibrahim"
print(my_name)

Ibrahim

#2.Write a code to find the length of the string "Hello World".

In [2]:
hello_world = "Hello World"
print(len(hello_world))

11

#3. Write a code to slice the firrst three characters from the string "Python programming"

In [4]:
python_programming = "Python programming"
print(python_programming[0:3])

Pyt

#4. Write a code to convert the string "hello" to uppercase.

In [5]:
hello = "hello"
print(hello.upper())

HELLO

#5. Write a code to replace the word "apple" with "orange" in the "string" i like apple.

In [6]:
fruit_string = "I like apple"
print(fruit_string.replace("apple", "orange"))

I like orange

#6. Write a code to create a list with numbers 1 to 5 print in it.

In [7]:
number_list = [ 1, 2, 3, 4, 5]
print(number_list)

[1, 2, 3, 4, 5]

#7. Write a code to append the number 10 to the list [11,2,3,4].

In [8]:
list1 = [11, 2, 3, 4]
list1.append(10)
print(list1)

[11, 2, 3, 4, 10]

#8. Write a code to remove the number 3 from the list [1,2,3,4,5]

In [9]:
list2 = [1, 2, 3, 4, 5]
list2.remove(3)
print(list2)

[1, 2, 4, 5]

#9. Write a code to access the second element in the list ['a','b','c','d'].

In [12]:
list3 = ['a', 'b', 'c', 'd']
print(list3[1])

b

#10. Write a code to reverse the list (10,20,30,40,50).

In [ ]:
tuple1 = [10, 20, 30, 40, 50]
reversed_tuple = tuple1(reversed(tuple1))
print(reversed_tuple)

#11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [14]:
tuple2 = (10, 20, 30)
print(tuple2)

(10, 20, 30)

#12. write a code to access the first element of the tuple (apple, banana, cherry).

In [19]:
tuple3 = ("apple", "banana", "cherry")
print(tuple3[0])

apple

#13Write a code to count how many times the number 2 appears in the tuple (1,2,3,2,4,2).

In [21]:
tuple4 = (1,2,3,2,4,2)
print(tuple4.count(2))

3

#14. write a code to find the index of the element "cat" in the tuple (dog,cat, rabbit).

In [22]:
tuple5 = ("dog", "cat", "rabbit")
print(tuple5.index("cat"))

1

#15. Write acode tp check if the element "banana" is in the tuple (apple, orange, banana).

In [23]:
tuple6 = ("apple", "orange", "banana")
print("banana" in tuple6)

True

#16. Write a code to create a cell with the elements 1,2,3,4,5 and print it.

In [24]:
set1 = {1, 2, 3, 4, 5}
print(set1)

{1, 2, 3, 4, 5}

#17. Write a code to add the element 6 to the set {1, 2, 3, 4,}.

In [25]:
set2 = {1, 2, 3, 4}
set2.add(6)
print(set2)

{1, 2, 3, 4, 6}

#18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [26]:
tuple1 = (10, 20, 30)
print(tuple1)

(10, 20, 30)

#19. Write a code to access the first element of the tuple (apple, banana, cherry).

In [27]:
tuple2 = ("apple", "banana", "cherry")
print(tuple2[0])

apple

#20. Write a code to count how many times the number 2 appears in the tuple (1,2,3,2,4,2)

In [28]:
tuple3 = (1, 2, 3, 2, 4, 2)
print(tuple3.count(2))

3

#21. Write  a code to find the index of the element "cat" in the tuple (dog, cat rabbit)

In [29]:
tuple4 = ("dog", "cat", "rabbit")
print(tuple4.index("cat"))

1